@use "../../styles/mixins";

$duration: 2s;

.wrapper {
  @include mixins.flex-center;
  position: relative;

  justify-content: space-around;

  &:not(.started) {
    animation-play-state: paused;
  }

  .first {
    opacity: 1;
    animation: fade-out $duration ease 1 normal forwards;
    animation-play-state: inherit;
  }

  .second {
    @include mixins.absolute-center;
    opacity: 0;
    animation: fade-in $duration ease 1 normal forwards;
    animation-play-state: inherit;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
