@use "../../styles/mixins";
@use "../../styles/settings";

.wrapper {
  @include mixins.flex-center;
  position: relative;

  .first, .second {
    transition: all settings.$number-animation-duration ease;
  }

  &.started {
    .first {
      pointer-events: none;
      opacity: 0;
    }
    .second {
      pointer-events: initial;
      opacity: 1;
    }
  }
  .first {
    pointer-events: initial;
    opacity: 1;
    //animation: fade-out settings.$number-animation-duration ease 1 normal forwards;
    //animation-play-state: inherit;
  }

  .second {
    pointer-events: none;
    opacity: 0;
    @include mixins.absolute-center;

    //animation: fade-in settings.$number-animation-duration ease 1 normal forwards;
    //animation-play-state: inherit;
  }
}

@keyframes fade-in {
  from {
    pointer-events: none;
    opacity: 0;
  }

  to {
    pointer-events: initial;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    pointer-events: initial;
    opacity: 1;
  }

  to {
    pointer-events: none;
    opacity: 0;
  }
}
