@use '../../styles/mixins';

$size: 100px;

.rolling-animation {
  display: inline-block;
  @include mixins.square($size);
  position: relative;

  .random-number {
    @include mixins.absolute-center;
    transition: opacity 500ms ease-in-out;
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }
}

