@use "../../styles/settings";

.spinning {
  display: inline-block;
  animation: spin settings.$number-animation-duration cubic-bezier(1, 0, 1, 1) 1;
  transform-origin: center;
  &.infinite {
    animation-iteration-count: infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(calc(360deg * 10));
  }
}
