@use 'styles/colors';
@use 'styles/mixins';

.App {

  font-size: 16px;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: bold;

    color: white;
    text-shadow: 3px 3px 0 orange;
  }

  .button {
    margin: 10px;
    display: inline-block;
    padding: 24px !important;
    border-radius: 10px;
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    border: 4px solid #fffd;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    cursor: pointer;
  }


  .input-group {

    height: 50px;
    display: flex;
    .number-input {
      padding: 10px;
      border-radius: 10px 0 0 10px;
      border: none;
      font-size: 40px;
      text-align: center;
      font-weight: bold;
      width: 150px;
      color: #9708CC;
    }

    .ok-button {
      color: green;
      border-radius: 0px 10px 10px 0;
      background: white;
      border: none;
      font-size: 40px;
    }
  }

  color: white;
  background: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
  height: 100%;
  flex-direction: column;
  @include mixins.flex-center;

  .number-animation {
    font-size: 4rem;
    height: 150px;
    width: 150px;
  }
}
